.about
  .about-section.about-smile
    = image_tag 'me.jpg'

  .about-section.about-me
    I am Dave Nguyen, a programmer at #{link_to 'FundAmerica Technologies', 'http://www.fundamerica.com/', target: :_blank} who's helping to create new grounds in the crowdfunding industry. While primarily a Ruby on Rails guy (it's just fun!), I've been known to dabble in other languages. Check out my other projects to see!
