.projects
  .project
    %h3 Lunar shell
    %hr
    .blurb
      Like what you see? This site is powered by #{link_to 'Lunar shell', 'https://github.com/davenguyen/lunar_shell', target: :_blank},
      a command-line interface for today's web. I've always liked the idea of
      keeping my hands on my keyboard, and now this little engine keeps that
      dream alive!

  .project
    %h3 IndieBeach
    %hr
    .blurb
      #{link_to 'IndieBeach', 'http://www.indiebeach.com'} is a film production
      company based in Newport Beach, CA. I help with any and all technical
      details, maintaining equipment during on-site shoots and maintaining the
      website.

  .project
    %h3 But wait, there's more!
    %hr
    .blurb
      Take a look at #{link_to 'my GitHub', 'https://github.com/davenguyen?tab=repositories', target: :_blank}
      to see more.
